.main {
  overflow: hidden;
  height: 100%;
  margin-left: 110px;
}

.logo {
  margin: 20px 50px 0 0;
  float: right;
}

.logo img {
  width: 75px;
}

.whoBlurb h1 {
  font-size: 2.5rem;
  float: left;
  margin-bottom: 20px;
  border-bottom: 4px solid #fe7678;
}

.whoBlurb p {
  font-size: 1.5rem;
  clear: left;
}

.find {
  width: 75%;
  margin-top: 35px;
  float: left;
}

.findMe {
  width: 30%;
  margin: 0 2.5% 2.5% 0;
  padding: 1%;
  border: 0.5px solid #252525;
  border-top: 5px solid black;
  height: 175px;
  float: left;
}

.findMe1,
.findMe2,
.findMe3,
.findMe4,
.findMe5,
.findMe6 {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.findMe1 {
  background: no-repeat url('../assets/carousel.jpg');
  background-size: cover;
}

.findMe2 {
  background: no-repeat url('../assets/cherry.png');
  background-size: contain;
  display: block;
  margin: 0 15%;
}

.findMe3 {
  background: #2f4efe;
  background-size: cover;
}

.findMe4 {
  background: no-repeat url('../assets/rock.png');
  background-size: contain;
}

.findMe5 {
  background: #6ffdac;
  background-size: cover;
}

.findMe6 {
  background: no-repeat url('../assets/stop.png');
  background-size: cover;
}

.findMeImg a:hover {
  background-color: #000;
}

@media (min-width: 375px) and (max-width: 768px) {
  .main {
    margin-left: 100px;
  }

  .logo {
    display: none;
  }

  .find {
    width: 84%;
    margin-top: 92px;
  }

  .findMe {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    margin-left: 100px;
  }

  .whoBlurb {
    margin-top: 158px;
  }

  .whoBlurb h1 {
    font-size: 3.5rem;
  }

  .find {
    width: 94%;
    margin-top: 135px;
    float: left;
  }

  .findMe {
    width: 45%;
    float: left;
    clear: none;
  }
}
