* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

:root {
  --sidebarWidth: 22%;
  --footerHeight: 25px;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
}

.hero {
  background-color: #efefef;
  min-height: -webkit-calc(100vh - 25px);
  min-height: -moz-calc(100vh - 25px);
  min-height: calc(100vh - 25px);
  padding-bottom: 3em;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  max-width: 400px;
}

.hero--sidebarOpen .sidebar {
  width: var(--sidebarWidth);
  background: #fff;
  display: flex;
}

.hero--sidebarOpen .header {
  width: -webkit-calc(100% - 60px);
  width: -moz-calc(100% - 60px);
  width: calc(100% - 60px);
  display: block;
}

.hero--sidebarOpen .main {
  margin-left: -webkit-calc(var(--sidebarWidth) + 60px);
  margin-left: -moz-calc(var(--sidebarWidth) + 60px);
  margin-left: calc(var(--sidebarWidth) + 60px);
}

header {
  display: none;
  height: 100%;
  background: #fff;
  overflow: hidden;
}

.tab {
  width: 60px;
  height: 100%;
  background: #fff;
  border-right: 5px solid #252525;
  border-left: 0.5px solid #252525;
  position: relative;
}

.block {
  display: block;
}

.rightArrow,
.leftArrow {
  width: 58px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rightArrow:hover {
  background: #fff;
}

.leftArrow:hover {
  background: #fff;
}

nav {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
}

nav > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h2 {
  display: block;
  font-size: 2rem;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav h2:hover {
  border-bottom: 2px solid #252525;
}

.who {
  background: #cccccc;
}

.drawing {
  background: #6ffdac;
}

.design {
  background: #fe7678;
}

.development {
  background: #00d6f2;
}

.main {
  overflow: hidden;
  height: 100%;
  margin-left: 110px;
}

.main__head {
  display: flex;
  justify-content: space-between;
}

.social ul {
  margin: 20px 0 20px 0;
  padding: 0;
}

.social li {
  list-style: none;
  display: inline-block;
}

.social li + li {
  margin-left: 2.6em;
}

.social img {
  width: 35px;
}

.closedMain {
  display: none;
}

.logo {
  margin: 20px 50px 0 0;
  width: max-content;
}

.logo img {
  width: 65px;
}

.whoBlurb,
.clients {
  width: 80%;
  max-width: 900px;
}

.whoBlurb {
  margin-top: 105px;
}

.wideWhoBlurb {
  width: 90%;
}

.whoBlurb h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  border-bottom: 5px solid #ccc;
  display: inline-block;
}

.whoBlurb p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.clients {
  margin-top: 50px;
}

.clients h2 {
  font-size: 2.5rem;
  margin-bottom: 12px;
}

.clients p {
  line-height: 1.5;
  font-size: 1.5rem;
}

.findMe {
  width: 30%;
  border: 0.5px solid grey;
  border-top: 5px solid black;
  height: 200px;
}

footer {
  height: var(--footerHeight);
  background: #000;
  position: relative;
  z-index: 10;
}

@media (max-width: 1024px) {
  .hero--sidebarOpen .sidebar {
    width: 400px;
  }

  nav h2 {
    font-size: 3rem;
  }

  .main,
  .hero--sidebarOpen .main {
    margin-left: 110px;
  }

  .whoBlurb {
    margin-top: 75px;
  }

  .whoBlurb h1,
  .clients h2 {
    font-size: 4.5rem;
  }

  .whoBlurb p,
  .clients p {
    font-size: 2rem;
  }

  .clients h2 {
    font-size: 3rem;
  }

  .find {
    width: 90%;
  }

  .findMe {
    width: 46%;
  }
}

@media (max-width: 768px) {
  .logo img {
    width: 50px;
  }

  .social li + li {
    margin-left: 1em;
  }

  .social img {
    width: 25px;
  }

  .hero--sidebarOpen .sidebar {
    width: 300px;
  }

  .hero--sidebarOpen .header {
    width: 240px;
  }

  .whoBlurb {
    margin-top: 20px;
  }

  .whoBlurb h1 {
    font-size: 2.5rem;
  }

  .whoBlurb p,
  .clients p {
    font-size: 1.2rem;
  }
  .clients {
    margin-top: 35px;
  }

  .clients h2 {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .tab {
    width: 45px;
  }

  .rightArrow,
  .leftArrow {
    width: 45px;
  }

  .main__head {
    flex-direction: column;
  }

  .main .social {
    order: 2;
  }

  .main,
  .hero--sidebarOpen .main {
    margin-left: 85px;
  }

  .whoBlurb h1 {
    font-size: 2.2rem;
  }
}

/*************************
      Design Page
**************************/

.page--design .whoBlurb {
  margin-top: 50px;
}

.page--design .whoBlurb h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  border-bottom: 4px solid #fe7678;
}

/*************************
      Drawing Page
**************************/

.page--drawing .find {
  max-width: 1400px;
  width: 75%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  gap: 23px;
}

.page--drawing .whoBlurb h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  border-bottom: 4px solid #00d6f2;
}

.page--drawing .whoBlurb {
  margin-top: 50px;
}

.page--drawing .findMe {
  margin: 0;
  padding: 3%;
  border: 0.5px solid #252525;
  border-top: 5px solid black;
  height: 175px;
  width: 100%;
}

/*************************
    Development Page
**************************/

.page--dev .find {
  max-width: 1400px;
  width: 75%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 23px;
}

.page--dev .whoBlurb {
  margin-top: 50px;
}

.page--dev .whoBlurb h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  border-bottom: 4px solid #00d6f2;
}

.page--dev .findMe {
  margin: 0;
  padding: 3%;
  border: 0.5px solid #252525;
  border-top: 5px solid black;
  height: 175px;
  width: 100%;
}

.page--dev .findMe1,
.page--dev .findMe2,
.page--dev .findMe3,
.page--dev .findMe4,
.page--dev .findMe5,
.page--dev .findMe6 {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.page--dev .findMe1 {
  background: no-repeat url('../assets/carousel.jpg');
  background-size: cover;
}

.page--dev .findMe2 {
  background: no-repeat url('../assets/cherry.png');
  background-size: contain;
  display: block;
  margin: 0 15%;
}

.page--dev .findMe3 {
  background: #2f4efe;
  background-size: cover;
}

.page--dev .findMe4 {
  background: no-repeat url('../assets/rock.png');
  background-size: contain;
}

.page--dev .findMe5 {
  background: #6ffdac;
  background-size: cover;
}

.page--dev .findMe6 {
  background: no-repeat url('../assets/stop.png');
  background-size: cover;
}

.findMeImg a:hover {
  background-color: #000;
}
