* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
  font-family: 'Roboto Mono', monospace;
  margin: 0 auto;
}

html {
  font-size: 10px;
}

body {
  background: #000;
  min-height: 100vh;
}

.hero {
  background-color: #efefef;
  min-height: 100vh;
  clear: both;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 25px;
}

.hero--sidebarOpen .sidebar {
  width: 230px;
  background: #fff;
  display: flex;
}

.hero--sidebarOpen .header {
  width: 170px;
  display: block;
}

.hero--sidebarOpen .main {
  margin-left: 270px;
}

header {
  display: none;
  height: 100%;
  background: #fff;
  overflow: hidden;
}

.tab {
  width: 60px;
  height: 100%;
  background: #fff;
  border-right: 5px solid #252525;
  border-left: 0.5px solid #252525;
  position: relative;
}

.block {
  display: block;
}

.rightArrow,
.leftArrow {
  float: left;
  width: 58px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rightArrow:hover {
  background: #fff;
}

.leftArrow:hover {
  background: #fff;
}

.social ul {
  float: left;
  margin: 20px 0 20px -65px;
  height: 50px;
  width: 310px;
}

.social li {
  list-style: none;
  display: inline-block;
  clear: both;
  margin-left: 10%;
}

.social img {
  width: 35px;
}

nav {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
}

nav > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h2 {
  display: block;
  float: left;
  font-size: 2rem;
}

nav a {
  color: #000;
}

nav h2:hover {
  border-bottom: 2px solid #252525;
}

.who {
  background: #cccccc;
}

.drawing {
  background: #6ffdac;
}

.design {
  background: #fe7678;
}

.development {
  background: #00d6f2;
}

.main {
  overflow: hidden;
  height: 100%;
  margin-left: 110px;
}

.closedMain {
  display: none;
}

.logo {
  margin: 20px 50px 0 0;
  float: right;
}

.logo img {
  width: 65px;
}

.whoBlurb {
  max-width: 900px;
  width: 83%;
  float: left;
  margin-top: 85px;
  clear: left;
}

.wideWhoBlurb {
  width: 90%;
}

.whoBlurb h1 {
  font-size: 3.5rem;
  float: left;
  margin-bottom: 20px;
  border-bottom: 5px solid #ccc;
}

.whoBlurb p {
  font-size: 1.5rem;
  clear: left;
  line-height: 1.5;
}

.clients {
  max-width: 900px;
  width: 75%;
  float: left;
  clear: both;
  margin-top: 50px;
}

.clients h2 {
  font-size: 2.5rem;
  float: left;
  margin-bottom: 12px;
}

.clients p {
  line-height: 1.5;
  font-size: 1.5rem;
  clear: left;
}

.findMe {
  width: 30%;
  border: 0.5px solid grey;
  border-top: 5px solid black;
  height: 200px;
  float: left;
  clear: left;
  margin-top: -70px;
}

footer {
  height: 25px;
  background: #000;
}

@media (min-width: 375px) and (max-width: 768px) {
  .logo img {
    width: 50px;
    display: none;
  }

  .hero--sidebarOpen .sidebar {
    width: 300px;
  }

  .hero--sidebarOpen .header {
    width: 240px;
  }

  .social ul {
    margin: 30px 0 20px -51px;
  }

  .social li {
    margin-left: 7%;
  }

  .whoBlurb {
    margin-top: 20px;
  }

  .whoBlurb h1 {
    font-size: 2.2rem;
  }

  .whoBlurb p,
  .clients p {
    font-size: 1rem;
  }
  .clients {
    margin-top: 35px;
  }

  .clients h2 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero--sidebarOpen .sidebar {
    /* width: 54%; */
    width: 400px;
  }

  .hero--sidebarOpen .header {
    /* width: 54%; */
    width: 340px;
  }

  nav h2 {
    font-size: 3rem;
  }

  .main {
    margin-left: 100px;
  }

  .whoBlurb {
    margin-top: 75px;
  }

  .whoBlurb h1,
  .clients h2 {
    font-size: 4.5rem;
  }

  .whoBlurb p,
  .clients p {
    font-size: 2rem;
  }

  .clients h2 {
    font-size: 3rem;
  }

  .find {
    width: 90%;
  }

  .findMe {
    width: 46%;
    float: left;
  }
}
